*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
*
{
  font-family: 'McLaren', cursive !important;
}
body {
  background-color:#000;
  padding: 3px;
  margin: 0;
}
.main-container
{
  position: relative;
  width: 100%;
  padding: 0px;
}
#main_canvas_container {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh !important;
}
.canvas-column
{
  float: left;
  width: 75%;
}
.controls-column
{
  position: relative;
  z-index: 55;
  float: right;
  width: 25%;
  font-size: 20px;
  height: 100vh;
}
.anchor-btn
{
  border: none;
  float: left;
  clear: both;  
  width: 90%;
  text-align: center;
  font-size: calc(25vw / 24);
  -webkit-font-size: calc(25vw / 24);
  -moz-font-size: calc(25vw / 24);
  color: white;
  margin-left: 6%;
  cursor:pointer;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  outline: none;
}
.anchor-btn:active
{
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -webkit-filter: brightness(200%) saturate(500%);
  filter: brightness(200%) saturate(500%);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
}
.snake_btn_wrapper
{
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-icons
{
  padding: 0;
  margin: 0 10px 0 0;
  width:30px;
  vertical-align: middle;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.snake-logo{
  text-align: center;
}
.img-snake-logo
{
  width:85%;
  margin: 0px auto;
}
#anchor_1_btn
{
  background-image: url("https://snakeomatic.com/img/blue_button.28742ef4.svg");
}
#anchor_2_btn
{
  background-image: url("https://snakeomatic.com/img/orange_button.1ea0fbc9.svg");
}
#anchor_3_btn
{
  background-image: url("https://snakeomatic.com/img/green_button.9f675d82.svg");
}
#anchor_4_btn
{
  background-image: url("https://snakeomatic.com/img/pink_button.5fca3939.svg");
}
#anchor_5_btn
{
  background-image: url("https://snakeomatic.com/img/blue_button.28742ef4.svg");
}
#anchor_6_btn
{
  background-image: url("https://snakeomatic.com/img/orange_button.1ea0fbc9.svg");
}
#anchor_7_btn
{
  background-image: url("https://snakeomatic.com/img/green_button.9f675d82.svg");
}
.anchor-btn:hover
{
  opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
}
@media only screen and (max-width:768px)
{
  .main-container
  {
    padding: 5px 10px;
  }
  .canvas-column, .controls-column
  {
    width: 100%;
  }
  .controls-column
  {
    margin-bottom: 30px;
  }
  .anchor-btn
  {
    width: 80%;
    font-size: calc(100vw / 30);
    -webkit-font-size: calc(100vw / 30);
    -moz-font-size: calc(100vw / 30);
    margin-left: 8%;
  }
  .snake_btn_wrapper
  {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .snake_logo_link
  {
    text-decoration: none;
  }
}